@import "tailwindcss";

@theme {
  --color-primary: #0555AB;
  --color-secondary: #29A4EB;
  --color-tertiary: #737373;
  --color-surface: #ECE8E6;
  --color-accent: #29A4EB;
  
  --font-sans: "Inter", "Outfit", sans-serif;
}

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

  body {
    @apply bg-[var(--color-surface)] text-slate-900;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }
}
